<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnpoyimLUZwH3ta1B2VDFtcGOg9eFjBF0</string>
	<key>GCM_SENDER_ID</key>
	<string>1031262828366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dbProjBlogappui.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blogapp-1cde0</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-1cde0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031262828366:ios:8498b6ce676dfccf78501f</string>
</dict>
</plist>